# numpy
# pandas
# scikit-learn
# yfinance

# tensorflow
# keras

# transformers
# torch
# sentencepiece

# chromadb
# sentence-transformers

# fastapi
# uvicorn
# requests
# pydantic
# anthropic
# python-dotenv
# streamlit
# plotly

```txt
streamlit==1.32.0
pandas==2.1.4
numpy==1.26.4
yfinance
scikit-learn==1.3.2

tensorflow-cpu==2.15.1

# 🔥 ADD THESE (IMPORTANT)
torch==2.1.2
torchvision==0.16.2

plotly
transformers==4.41.2
sentence-transformers
chromadb
python-dotenv
requests
google-generativeai
```
